!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      Effective Elections
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    %script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js")
  %body
    %section.section
      .container
        %table.table
          %thead
            %tr
              %th Foo
              %th Cake
              %th Pie
          %tbody
            %tr
              %td Alpha
              %td Beta
              %td Gamma
            %tr
              %td Delta
              %td Echo
              %td Foxtrot
